body{
  background-color: rgb(100, 0, 222);
}
.box1{
  margin-top:40px ;
  margin-left: 80%;
  margin-right: 40px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr auto;
}
table {
  border-collapse: collapse;
  margin-bottom: 20px;
}
.td {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
}

.cond{
  margin-left: 16%;
}
.cond2{
  margin-left: 2%;
}
.box{
margin-top:40px ;
margin-left: 100px;
margin-right: 40px;
margin-bottom: 100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.box3{
  margin-top:150px ;
  margin-left:10px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
.box2{
  margin-top:40px ;
  margin-left: 100px;
  margin-right: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 150px;
  flex-direction: column;
  }
.but{
  max-width: 300px;
  height: 60px ;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 34px;
  background-color: rgb(169, 0, 235);
  padding-left: 40px;
  padding-right: 40px;
  transition: opacity 0.15s;
}
.but:hover{
opacity: 0.5;
cursor: pointer;
}
.casing{
  display: grid;
  grid-template-columns: 300px 100px 60px;
  column-gap: 8px;
  justify-content: center;
}
.ecu{
  display: flex;
  flex-direction: column;
  column-gap: 4px;
}
.vad{
  border: none;
  max-width: 2000px;
  font-size: 40px;
}
.rez{
  max-width:30px;
  max-height: 70px;
  min-height: 60px;

}
.txt1{
  font-size: 24px;
  color:white;
}
.swb{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sw{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  justify-content:flex-end;
}
.sw input{
  opacity: 0;
  width: 0;
  height: 0;
}
.ogr{
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}
.ogr:before{
  position: absolute;
  content: "";
  border-radius: 50px;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(108, 6, 130);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked+ .ogr{
  background-color: #000000;
}
input:focus + .ogr{
  box-shadow: 0 0 3px rebeccapurple;
}
input:checked + .ogr::before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
